<h3>Add Movie</h3>
<p>Add a movie to the database.</p>
<p>Note: You will also need to set at least one person as an actor or director of the movie.</p>
<form method="post" action="/movie/add">
	<label>Movie Name</label><br>
	<input type="text" name="title">
	<br>
	<label>Year</label><br>
	<input type="text" name="year">
	<br><br>
	<input type="submit" value="submit">
</form>

<h3>Add Person</h3>
<p>Add a person to the database.</p>
<p>Note: You will also need to set the person as an actor or a director of a movie.</p>
<form method="post" action="/person/add">
	<label>Person Name</label><br>
	<input type="text" name="name">
	<br><br>
	<input type="submit" value="submit">
</form>

<h3>Set Actor</h3>
<p>Set an ACTED_IN relationship between a person and a movie that both already exist in the database.</p>
<form method="post" action="/movie/actor/add">
	<label>Movie Title</label><br> 
	<input type="text" name="title">
	<br>
	<label>Actor Name</label><br> 
	<input type="text" name="name"> <br><br>
 	<input type="submit" value="submit"> 
</form>

<h3>Set Director</h3>
<p>Set a DIRECTED relationship between a person and a movie that both already exist in the database.</p>
<form method="post" action="/movie/director/add">
	<label>Movie Title</label><br> 
	<input type="text" name="title">
	<br>
	<label>Director Name</label><br> 
	<input type="text" name="name"> <br><br>
 	<input type="submit" value="submit"> 
</form>

<h3>Movies</h3>
<p>Click on a movie to show or hide details.</p>
<ul>
<% Object.keys(movies).forEach(function(movie) { %>
	<li><%= movie %></li>
	<ul class="hide">
		<% movies[movie].forEach(function(detail) { %>
			<li><%= detail %></li>
		<% }) %>
	</ul>
<% }); %>
</ul>

<h3>Persons</h3>
<p>Click on a person to show or hide details.</p>
<ul>
<% Object.keys(persons).forEach(function(person) { %>
	<li><%= person %></li>
	<ul class="hide">
		<% persons[person].forEach(function(detail) { %>
			<li><%= detail %></li>
		<% }) %>
	</ul>
<% }); %>
</ul>

<style>
	.hide {
		display: none;
	}
	li:hover {
		background-color: lightgray;
		cursor: pointer;
	}
</style>

<script>
	window.onload = function() {
		// Show or hide person details
		var listItems = document.getElementsByTagName('li');
		for (var i = 0; i < listItems.length; i++) {
			listItems[i].addEventListener('click', function() {
				var details = this.nextElementSibling;
				if (details.classList.contains('hide')) {
					details.classList.remove('hide');
				} else {
					details.classList.add('hide');
				}
			});
		}
	};
</script>