<h3>Movies</h3>

<ul>
<% movies.forEach(function(movie) { %>
	<li><%= movie.title %></li>
<% }) %>
</ul>

<h3>Persons</h3>
<ul>
<% persons.forEach(function(person) { %>
	<li><%= person.name %></li>
<% }) %>
</ul>